@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
    background-image: url('./assets/BG-Frutas\ 1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}