@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue-color: #84D1E3;
    --yellow-color: #F3D228;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--blue-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer
}